h1{background-color:black;color:white;font-style:arial;font-size: 50 px;}

h2 {background-color:black;color:seagreen; font-size: 20 px;}
h3 {color:white; background-color:black; font-size 40 px}
h4{background-color:black; color:white;}
